body{
    font-family: 'Quicksand', sans-serif;
    background-image: url("/images/blue_abstract_background.jpg") ;
    background-size: cover;
  }

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    text-shadow: 1px 1px 7px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  #titleText{
    font-size: 26px;
    color: blue;
}
#boldText{
  font-size: 18px;
  color: #4e4cea;
}
#year{
  color: red;
  font-weight: bold;
}
#lenText{
  color:rgb(13, 43, 69);
  font-weight: bold;
}
#grnText{
  color: green;
}
#albumText{
  color: rgb(177, 5, 251);
  font-size: 18px;
  font-weight: bold;
}
#userText{
  color: rgb(82, 55, 4);
}
.box div{
    display: flex;
    justify-content: left;
    margin: 10px;
    gap: 5px;
}
