<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Index</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <h1>All Songs Index Page</h1>

    
    <nav>
      <a href="/songs/new">Create a New Song</a><br />
      <a href="/users">Visit Your Profile</a>
    </nav>
  </body>
</html>
