<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>New Song</title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>

<h1>Enter your new song here</h1>
        <form action="/songs" method="POST">
            Name: <input type="text" name="name" /><br/><br/>
            Artist: <input type="text" name="artist" /><br/><br/>
            Album: <input type="text" name="album" /><br/><br/>
            Year: <input type="text" name="year" /><br/><br/>
            (format: x:xx)
            Length: <input type="text" name="length" /><br/><br/>
            Genre: <input type="text" name="genre" /><br/><br/>
            <select name='userId'>
<% users.forEach(user=>{%>
 <option value='<%=user.id %>'><%=user.username%></option>   
    <%}) %>
            </select>
            <input type="submit" class="btn"name="" value="Add your song!"/>
        </form>
</body>
</html>
