<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Search</title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>The Search page</h1>

        <div class="search-container">
            Search by Song Name:
            <form action="/songs/search" method="POST">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit">Submit</button>
            </form><br><br>
            Search by Artist:
            <form action="/songs/search-by-artist" method="POST">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit">Submit</button>
            </form><br><br>
            Search by Album:
            <form action="/songs/search-by-album" method="POST">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit">Submit</button>
            </form><br><br>
            Search by Year:
            <form action="/songs/search-by-year" method="POST">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit">Submit</button>
            </form><br><br>
            Search by Length:
            <form action="/songs/search-by-length" method="POST">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit">Submit</button>
            </form><br><br>
            Search by Genre:
            <form action="/songs/search-by-genre" method="POST">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit">Submit</button>
            </form><br><br>
        </div>
        <nav>
            <a href="/songs/new">Create a New Song</a><br /><br>
            <a href="/songs">All Songs</a><br /><br>
            <a href="/users">Visit Your Profile</a>
          </nav>
    </body>
    </html>    