<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/app.css">
    </head>
    <body>
        <h1>The Search page</h1>

        <div class="search-container">
            Search by Name:
            <form action="/songs/search" method="POST">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit">Submit</button>
            </form><br><br>
            Search by artist:
            <form action="/songs/search-by-artist" method="POST">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit">Submit</button>
            </form><br><br>
            Search by Album:
            <form action="/songs/search-by-album" method="POST">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit">Submit</button>
            </form><br><br>
            Search by Year:
            <form action="/songs/search-by-year" method="POST">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit">Submit</button>
            </form><br><br>
        </div>

    </body>
    </html>    