<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/app.css">
    </head>
    <body>
        <h1>The Search page</h1>

        <div class="search-container">
            <form action="songs/show.ejs">
                <input type="text" placeholder="Search.." name="search" value="<%=''%>">
                <button type="submit">Submit</button>
            </form>
        </div>

    </body>
    </html>    