<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Login</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1>Welcome to the Music Tracker App or MTA</h1>
    <h2>This song collector lets you get your tunes in order!</h2>
    <h3>Please signup for a new account or login.</h3>
    <nav>
        <a href="/users/signup" class="btn">Signup</a>&nbsp;&nbsp;&nbsp;
        <a href="/users/login" class="btn">Login</a>
    </nav>
</body>
</html>